*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
a{
     text-decoration: none;
     color: #1bffff;
}
body{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* display: flex; */
  
  /* animation-timeline: view()    ;  */

}
.scroll{
    animation: scrollAnimation  linear  ;
    animation-timeline:view() ;
    animation-range: entry 0% cover 30%;   
}
@keyframes scrollAnimation {
    from{
        opacity: 0;
        scale: .5;
        transform: translateX(-300px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0px);
    
    }
}

.mt-1{
    margin: 7px 0 12px 0;
}
.flx{
    display: flex;
    /* gap: 3rem; */
}
.ctr{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.nav_container{
    /* margin: 0 10%; */
      position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid aqua;
  background-color: #000;
    /* z-index: -100;
    position: sticky; */
    /* margin: 0; */
    nav{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}
nav {
    padding: 10px;
    h1{
    color: aqua;
    }
    /* text-shadow: (1px 1px 10px 6px #e93fe9); */
}
.navBar{
    /* background-color: rgb(27, 24, 24); */
    width:40% !important ;
    /* padding: 5px; */
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        
        color: aqua;
        text-align: center;
        width: 95px;
        padding:13px  0;
        margin: 7px;
        border-radius: 8px;
        border-radius: 0;
    }
}
.navBar a:hover{
    /* background: linear-gradient(45deg,#2e3192,#1bffff); */
    /* text-shadow: (10px 10px 10px 6px #e93fe9); */
    color: #e93fe9;
    border-bottom:2px solid #e93fe9 ;
    transition: linear .6s;
    
}
nav .navBtn a{
    right: 0px;
    background-color: aqua;
    border-radius: 20px;
    padding: 13px 15px;
    color: #000;
    /* box-shadow: ; */
    
}
nav .navBtn i{
    color: #fff;
    font-size: 25px;
}
.body_container{
    margin: 0 10% ;
    padding: 15px;
}
/* section tope size changing or not hide in nav to a-tag go to section */
section{
    padding: 6rem 0 2rem;
}
/* home----------------- */
#Home h1{
    font-size: 3rem;
}
.homeDivBox{
    display: flex;
    gap: 15px;
    .div{
        width: 50%;
    }
}

/* .homeDivBox .homeText{
    /* padding: 10px 20px; 
} */
.aqua{
    color: aqua;
}
#roleText{
    font-size: 27px;
    display: flex;
    gap: 7px;
}
/* Animation in the role text ------------------- */
.roleAnima{
    display: inline-block;
    position: relative;
    height: 1em;
    overflow: hidden;
    color: aqua;
    span{
        display: block;
        animation:RoleAnima 8s infinite ease ;
    }
}
@keyframes RoleAnima{
    0%{transform:translatey(0%);}
    25%{transform:translatey(-100%);}
    50%{transform:translatey(-200%);}
    75%{transform:translatey(-300%);}
    100%{transform:translatey(-400%);}
}

.homeDivBox .text{
    word-spacing: 8px;
    margin: 40px 0;
    line-height: 2;
}
.homeDivBox .itemBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    
   
}
  .itemBox  div{
    height: 150px;
    width: 150px;
    /* background-color:  rgb(27, 24, 24); */
    border-radius: 15px;
    border: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
     margin: 10px 24px;
     color: #1bffff;
     &:hover{
    border: 2px solid rgb(3, 250, 250);
    box-shadow: 1px 1px 10px 6px #e93fe9;
    color: #fff;
    
     }
} 
.itemBox div h3, .itemBox p{
    text-align: center;
    margin: 0;
    padding: 0;
}
/* .itemBox div:hover{
    border: 2px solid rgb(3, 250, 250);
    box-shadow: (1px 1px 10px 6px #e93fe9);
    
} */
.d1{
   display: flex;
   /* align-items: center; */
   /* justify-items: center; */
   justify-content: center;
   margin-left: 15px;
   /* background-color: red; */
   padding: 10px;

img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    box-shadow:2px 2px 20px 12px aqua;
}
}
/*Home btns-------------*/
#Home .btn{
 margin-top: 30px;
}
/* CV downlode here  */
#Home div>button{
    height: 50px;
    margin: 10px 14px;
    padding: 0 36px;
    text-align: center;
    border-radius:27px ;
    font-size: 19px;
    a{
        color: #000;
    }
    &:hover{
        box-shadow: 0 0 27px #1bffff;
    }

    &:first-child{
        background-color: #000;
        color: #1bffff;
        border: 1px solid #1bffff;
}
    &:nth-child(2){
        background-color: #1bffff;
       
}}
.socialMediaIcon {
    margin:18px ;
    a{
        margin: 0 25px;
        font-size: 30px;
        color: #1bffff;
        /* Social media icon coller change in hove --------------------------- */
        /* &:first-child{
            &:hover{
            color: navy;
        }
        }
         &:nth-child(2){
            &:hover{
                color: #1ebe57;
            }
         }
          &:nth-child(3){
            &:hover{
                color: #333333;
            }
         }
           &:nth-child(4){
            &:hover{
                color: #fff;
            }
         } */

    }
}
/*title text for section like abt,exp,skill,.. ------------ */
.titleText{
    color: #1bffff;

}
#About{
   flex-direction: column;


}
#About .abtContainer{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    .abtContent {
        margin: 5px 10px ;
        text-align: start;
    }
}
.abtBox{
    flex-direction: column;
    gap: 22px;
    margin-top: 22px;
    color: #1bffff;
}
.abtContainer .education{
    display: flex;
    text-align: start; gap: 2rem;
    padding: 10px;
    background-color: rgb(41, 40, 40);
    i{
        color: #1bffff;
    }
}
.abtContainer .education     i{
    display: flex;
        justify-content: center;
       align-items: center;
       padding: 5px 0;
    }


/* My imge back ground animation */

.abtContainer .img {
    position: relative;
    width: 300px;
    height: 450px;
    overflow: hidden;
    display: flex;
    align-items: center;justify-content: center;
}

.abtContainer .img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%; /* center horizontally */
    width: 100px; /* strip width */
    height: 550px; /* same as image */
    background: linear-gradient(180deg, #ff00c8, cyan);
    animation: rotateStrip 4s linear infinite;
    z-index: 1;
    transform-origin: center center;
    transform: translateX(-50%); /* shift left by half of its width */
}

.abtContainer .img img {
    position: relative;
    z-index: 2;
    width: 290px;
    height: 590px;
    display: block;
    background-color: black;
}
body{
    background-color: black;
}

@keyframes rotateStrip {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


    /* skill section--------- */
#Skill{
    flex-direction: column;
     align-items: start;
}
#Skill div{
    display: flex;
    gap: 15px;
    padding: 0;
    flex-direction: column;
    align-items: start;
    /* justify-content: start;
    justify-items: start; */
}
#Skill .titleText{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    
}

#Skill .categorySet{
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
}
#Skill .categorySet img{
    margin: 13px 13px 0 0;
}
#Skill .categorySet img:hover{
        transform: scale(1.3) ;
        
    }
/* project section */
#Project{
    display: flex;
    flex-direction: column;
}
/* #Project .items{
    display: flex;
    width: 100%;
} */
#Project .projectLists {
    display: flex;
    text-align: start;
    gap:  100px;
    padding: 5px 10px;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    margin: 25px 0 8px 0;
    align-items: center;
    justify-content: center;
     width: 100%;
    
}
.projectLists .items{
    /* height: 350px; */
    width: 320px;
    padding: 7px;
    /* margin: 15px; */
    border-radius: 5px;
     border: 1px solid #1bffff;
     box-shadow: 1px 1px 10px 6px #e93fe9;
}
.projectLists .items:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 10px 6px #1bffff;
}
.projectLists .items img{
    height: 150px !important;
    width: 100%;
    object-fit: cover;

}
.projectLists .items h4,
.projectLists .items p{
    color: #1bffff;
    margin-top: 7px;
}
.demoBtns{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    /* height: 100%; */
}
.items button , .demoBtns a {
    display: flex;
    margin:7px;
    background-color:   #000;
    padding: 10px 20px;
    /* margin-top: 30px; */
    /* margin: 20px 15px 10px 5px; */
    border-radius: 5px;
    border: 1px solid #1bffff;
    color: #1bffff;
    &:hover{
        background-color: #1ebe57;
        color: white;
        border: 2px solid white;
    }
}
#Contact{
    display: flex;
    flex-direction: column;

}
.ContactItem{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* gap: 15px; */
}

.get{
    padding: 10px;
    /* background-color: #1bffff; */
    height: 100px;
    width: 40%;
    margin: 15px;
    text-align: center;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
     box-shadow: 1px 1px 10px 6px #1bffff;
    &:hover{
        /* background-color: green; */
        box-shadow: 1px 1px 10px 6px #e93fe9;
        border: 2px solid rgb(3, 250, 250);
    
    }
}

.blinkText{
    animation:newOne 1.6s  infinite;
}
@keyframes newOne {
    50%{color: #e93fe9 ;}

    100%{color:#1bffff ;}
}
.projectexp{
    /* background-color: rgba(255, 255, 255, 0.3); */
    z-index: 1000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 40px;
    left: 10%;
    
    i{
        color: #fff;
        padding: 5px;
        border-radius: 50%;
        top: -10px;
        right: 20%;
        position: absolute;
        &:hover{
            background-color: red;
            color: white;
        }
    }
    
}
.projectexp .content{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: 80%;
        background-color: rgb(255, 253, 253);
        box-shadow: 1px 1px 10px 6px #e93fe9;
        padding: 5px;
        border-radius: 10px;
        text-align: start;
        /* height:  100vh; */
        gap: 10px;
         p,h1{
            color: black;
        }
        img{
        width: 100%;
        height: 450px;
       
    }
    }
#projectView{
    background-color: red;
    width: 100%;
    display: flex;
   
}
.none{
    display: none;
}

/* footer------------- */
footer{
    margin: 50px 0;
}
footer>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 120px;
}
footer>div>div{
    display: flex;
    gap: 14px;
}

footer>div .name{
    flex-direction: column;
}
footer>div p{
    text-align: center;
}
footer .icon{
    div{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        box-shadow:1px 1px 10px 6px  #1bffff;
        i{
            color: #fff;
        }
        &:hover{
        transform: scale(1.3);
        box-shadow:1px 1px 10px 6px  #e93fe9;
        
    }
    }

}

@media (max-width: 1024px) {

  .body_container {
    margin: 0 5%;
  }

  .homeDivBox {
    flex-direction: column;
    align-items: center;
  }

  .homeDivBox .div {
    width: 100%;
    text-align: center;
  }

  .d1 img {
    height: 500px;
    width: auto;
  }

  .navBar {
    width: 60% !important;
  }

}

@media (max-width: 768px) {

  nav {
    /* flex-direction: column; */
    gap: 10px;
    .navBar{
        display: none;
    }
    .navBtn a{
        padding: 8px 10px;
    }
  }

  .navBar {
    width: 100% !important;
    /* flex-wrap: wrap; */
  }

  #Home h1 {
    font-size: 2.2rem;
    text-align: center;
  }
  #Home .HomeImg{
    display: none !important;
    /* width: 333px;
    height: 400px;
    box-shadow:1px 1px 10px 6px aqua; */
  }

  #roleText {
    font-size: 20px;
    justify-content: center;
  }

  .itemBox {
    flex-direction: column;
  }

  .itemBox div {
    width: 90%;
    margin: 10px 0;
  }

  .abtContainer {
    flex-direction: column;
  }

  .abtContainer .img {
    width: 250px;
    height: 450px;
  }

  .abtContainer .img img {
    width: 240px;
    height: 440px;
  }
 #Skill .categorySet img{
    height: 50px;
    width: 50px;
}

  .projectLists {
    gap: 30px;
  }

  .projectLists .items {
    width: 90%;
  }

  .get {
    width: 90%;
  }

}


@media (max-width: 480px) {

  #Home h1 {
    /* font-size: 1.8rem; */
    text-align: center;
  }

  .socialMediaIcon a {
    /* font-size: 22px; */
    margin: 0 10px;
  }

  #Home div > button {
    width: 100%;
    margin: 10px 0;
  }

  footer > div {
    flex-direction: column;
    gap: 10px;
    height: auto;
  }

}

/* #Skill {
    padding-bottom: 1rem !important;
    margin-bottom: 0 !important;
}

#Project {
    padding-top: 1rem !important;
    margin-top: 0 !important;
} */