*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
     text-decoration: none;
}
body{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.flx{
    display: flex;
    gap: 3rem;
}
.ctr{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.nav_container{
    /* margin: 0 10%; */
      position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid aqua;
  background-color: #000;
    /* z-index: -100;
    position: sticky; */
    /* margin: 0; */
    nav{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}
nav h1{
    color: aqua;
    
    /* text-shadow: (1px 1px 10px 6px #e93fe9); */
}
.navBar{
    background-color: rgb(27, 24, 24);
    
    padding: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        
        color: aqua;
        text-align: center;
        width: 95px;
        padding: 20px 0;
        border-radius: 8px;
    }
}
.navBar a:hover{
    background: linear-gradient(45deg,#2e3192,#1bffff);
    /* text-shadow: (10px 10px 10px 6px #e93fe9); */
    color: #fff;
    transition: linear .6s;
    
}
nav .navBtn p{
    right: 0px;
    background-color: aqua;
    border-radius: 20px;
    padding: 13px 15px;
    color: #000;
    /* box-shadow: ; */
    
}
nav .navBtn i{
    color: #fff;
    font-size: 25px;
}
.body_container{
    margin: 0 15% ;
    padding: 15px;
}
/* section tope size changing or not hide in nav to a-tag go to section */
section{
    padding: 6rem 0 2rem;
}
/* home----------------- */
#Home h1{
    font-size: 3rem;
}
.homeDivBox{
    display: flex;
    gap: 15px;
    .div{
        width: 50%;
    }
}
/* .homeDivBox .homeText{
    /* padding: 10px 20px; 
} */
.aqua{
    color: aqua;
}
#roleText{
    font-size: 27px;
    display: flex;
    gap: 7px;
}
/* Animation in the role text ------------------- */
.roleAnima{
    display: inline-block;
    position: relative;
    height: 1em;
    overflow: hidden;
    color: aqua;
    span{
        display: block;
        animation:RoleAnima 8s infinite ease ;
    }
}
@keyframes RoleAnima{
    0%{transform:translatey(0%);}
    25%{transform:translatey(-100%);}
    50%{transform:translatey(-200%);}
    75%{transform:translatey(-300%);}
    100%{transform:translatey(-400%);}
}

.homeDivBox .text{
    word-spacing: 8px;
    margin: 40px 0;
    line-height: 2;
}
.homeDivBox .itemBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    
   
}
  .itemBox  div{
    height: 150px;
    width: 150px;
    background-color:  rgb(27, 24, 24);
    border-radius: 15px;
    border: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
     margin: 10px 24px;
} 
.itemBox div h3, .itemBox p{
    text-align: center;
    margin: 0;
    padding: 0;
}
.itemBox div:hover{
    border: 2px solid rgb(3, 250, 250);
    
}
.d1{
   display: flex;
   align-items: center;
   /* justify-items: center; */
   justify-content: center;
   /* background-color: red; */
   padding: 10px;
}
img{
    height: 100%;
    width: 300px;
    border-radius: 15px;
}
/*Home btns-------------*/
#Home .btn{
 margin-top: 30px;
}
/* CV downlode here  */
#Home div>button{
    height: 50px;
    margin: 10px 14px;
    padding: 0 36px;
    text-align: center;
    border-radius:27px ;
    font-size: 19px;
    a{
        color: #fff;
    }
    &:hover{
        box-shadow: 0 0 27px #1bffff;
    }

    &:first-child{
        background-color: #000;
        color: #1bffff;
        border: 1px solid #1bffff;
}
    &:nth-child(2){
        background-color: #1bffff;
        color: #000;
}}
.socialMediaIcon {
    margin:18px ;
    a{
        margin: 0 25px;
        font-size: 30px;
        color: #1bffff;
        /* Social media icon coller change in hove --------------------------- */
        &:first-child{
            &:hover{
            color: navy;
        }
        }
         &:nth-child(2){
            &:hover{
                color: #1ebe57;
            }
         }
          &:nth-child(3){
            &:hover{
                color: #333333;
            }
         }
           &:nth-child(4){
            &:hover{
                color: #fff;
            }
         }

    }
}